<div>
	<div ng-include="'./angular/header/view/header.html'" class="header"> </div>
	<div class="calculator container">
		<div class="form-label">
			<h3>Calculate Cost</h3>
			<hr/>
		</div>
		<form role="form">
			<div class="form-group col-md-6">
				<label for="from">Ship Vehicle FROM:</label>
				<input type="input" class="form-control" id="from" placeholder="ZIP or City">
			</div>
			<div class="form-group col-md-6">
				<label for="to">Ship Vehicle TO:</label>
				<input type="password" class="form-control" id="to" placeholder="ZIP or City">
			</div>
			<div class="form-group col-md-6">
				<label for="make">Make:</label>
				<select class="form-control" id="make">
					<option value="default">Select Make</option>
					<option value="two">Two</option>
					<option value="three">Three</option>
					<option value="four">Four</option>
					<option value="five">Five</option>
				</select>
			</div>
			<div class="form-group col-md-6">
				<label for="model">Model:</label>
				<select class="form-control" id="model">
					<option value="default">Select Model</option>
					<option value="two">Two</option>
					<option value="three">Three</option>
					<option value="four">Four</option>
					<option value="five">Five</option>
				</select>
			</div>
			<div class="form-group col-md-6">
				<div class="inline-block">
					<span>Is it operatable? </span><span class="glyphicon glyphicon-info-sign infoTooltip" data-toggle="tooltip" data-placement="top"
						title="" data-original-title="Is the car opratable by a driver"></span>
				</div>
				<label class="radio-inline">
					<input type="radio" name="isOperatable" value="Yes" checked="checked">
					<span>Yes</span>
				</label>
				<label class="radio-inline">
					<input type="radio" name="isOperatable" value="No">
					<span>No</span>
				</label>
			</div>
			<div class="form-group col-md-6">
				<div class="inline-block">
					<span>Transport type? </span><span class="glyphicon glyphicon-info-sign infoTooltip" data-toggle="tooltip" data-placement="top"
						title="" data-original-title="How do you want us to transport your car"></span>
				</div>
				<div class="inline-block">
					<label class="radio-inline">
						<input type="radio" name="transportType" value="Open" checked="checked">
						<span>Open</span>
					</label>
				</div>
				<div class="inline-block">
					<label class="radio-inline">
						<input type="radio" name="transportType" value="Enclosed">
						<span>Enclosed</span>
					</label>
				</div>
			</div>
			<div class="form-group col-md-12 button-container">
				<hr/>
				<button type="button" class="btn btn-info">Calculate Cost</button>
			</div>
		</form>
	</div>
</div>
